name: ci-tests

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6

    - name: pre-commit
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  get-k8s-versions:
    runs-on: ubuntu-24.04

    outputs:
      versions: ${{ steps.get-k8s-versions.outputs.kind_versions }}

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Get latest Kubernetes versions
        id: get-k8s-versions
        uses: ./.github/actions/latest-k8s-versions
        with:
          count: 3
          kind_images: true

  lint-test-chart:
    runs-on: ubuntu-24.04
    needs: [get-k8s-versions]

    strategy:
      fail-fast: false

      matrix:
        k8s_version: ${{ fromJson(needs.get-k8s-versions.outputs.versions) }}

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: |
          ct \
            lint \
            --config .ct.yaml \
            ${{github.event_name == 'workflow_dispatch' && '--all'}} ;

      - if: steps.list-changed.outputs.changed == 'true' || github.event_name == 'workflow_dispatch'
        name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: "kindest/node:${{ matrix.k8s_version }}"
          config: .kind-config.yaml

      - name: Run chart-testing (install)
        run: |
          ct \
            install \
            --config .ct.yaml \
            --debug \
            ${{github.event_name == 'workflow_dispatch' && '--all'}} ;
